<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Administración de Dominios
                </h1>
                <label>Seleccione un dominio: </label>
                <select [(ngModel)]="selected" (change)="onChangeDomain()">
                    <option *ngFor="let o of options" value="{{o}}">
                        {{o}}
                    </option>
                </select>
                <br>
                <br>
                <crud *ngIf="selected" [key]="key" [data]="dataDomain" [schema]="schema" [title]="selected"  [model]="domain" 
                (save)="saveDomain($event)" (remove)="removeDomain($event)" 
                (find)="findDomain($event)" (reload)="reloadDomain()"></crud>
            </div>
        </div>
    </div>
</div>