<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Precise Estimate
                </h1>
                <small>
                    Aplicación para la estimación de costos de proyectos de software
                </small>
                <div style="margin: 10px">
                    <img style="max-width: 200px" src="assets/img/calculator.svg" />
                </div>
            </div>
        </div>
    </div>
</div>