<div class="animated fadeInDown">
    <div>

        <h3>Projects</h3>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="animated fadeInDown">
                    <div>
                        <h1>
                            Administración de Proyectos
                        </h1>
                        <div [hidden]="showForm">
                            <table class="table table-striped table-bordered table-hover dataTables-example dataTable">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let u of projects">
                                        <td>{{u.idProject}}</td>
                                        <td>{{u.name}}</td>
                                        <td>{{u.status}}</td>
                                        <td><button (click)="editProject(u.idProject)">Editar</button></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4"><button (click)="showProjectForm()">Crear Proyecto</button></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div [hidden]="!showForm" style="margin: 10px">
                            <form [formGroup]="projectForm" (ngSubmit)="submit()">
                                <div>
                                    <label>Nombre</label><br>
                                    <input type="text" formControlName="name">
                                    <div>
                                        <small *ngIf="!projectForm.controls.name.valid">Requerido.</small>
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <label>Estado</label><br>
                                    <input type="text" formControlName="status">
                                    <div>
                                        <small *ngIf="!projectForm.controls.status.valid">Requerido.</small>
                                    </div>
                                </div>
                                <br>
                                <button type="submit" [disabled]="!projectForm.valid">Guardar Proyecto</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>