<div class="animated fadeInDown">
    <div>

        <h3>Projects</h3>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="animated fadeInDown">
                    <div>
                        <h1>
                            Administración de Proyectos
                        </h1>
                        {{epic|json}}
                        <div [hidden]="showForm">
                            <table class="table table-striped table-bordered table-hover dataTables-example dataTable">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Tipo</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let u of projects">
                                        <td>{{u.id_project}}</td>
                                        <td>{{u.name}}</td>
                                        <td>{{u.type}}</td>
                                        <td><button (click)="editProject(u.id_project)">Editar</button></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4"><button (click)="createProject()">Crear Proyecto</button></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div [hidden]="!showForm" style="margin: 10px">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Proyecto
                                </div>
                                <div class="panel-body">
                                    <form [formGroup]="projectForm" (ngSubmit)="submit()">
                                        <div>
                                            <label>Nombre</label><br>
                                            <input type="text" formControlName="name">
                                            <div>
                                                <small *ngIf="!projectForm.controls.name.valid">Requerido.</small>
                                            </div>
                                        </div>
                                        <br>
                                        <div>
                                            <label>Tipo</label><br>
                                            <select formControlName="typep">
                                                    <option *ngFor="let t of types" [value]="t">{{t}}</option>
                                                </select>
                                            <div>
                                                <small *ngIf="!projectForm.controls.typep.valid">Requerido.</small>
                                            </div>
                                        </div>
                                        <br>
                                        <div>
                                            <label>Fecha de inicio</label><br>
                                            <input type="date" formControlName="date_start">
                                            <div>
                                                <small *ngIf="!projectForm.controls.date_start.valid">Requerido.</small>
                                            </div>
                                        </div>
                                        <br>
                                        <div>
                                            <label>Fecha de finalización</label><br>
                                            <input type="date" formControlName="date_end">
                                            <div>
                                                <small *ngIf="!projectForm.controls.date_end.valid">Requerido.</small>
                                            </div>
                                        </div>
                                        <br>
                                        <div>
                                            <label>Costo Total Estimado</label><br>
                                            <input type="text" formControlName="value_estimate_total">
                                            <div>
                                                <small *ngIf="!projectForm.controls.value_estimate_total.valid">Requerido.</small>
                                            </div>
                                        </div>
                                        <br>
                                        <div>
                                            <label>Tiempo Total Estimado (Horas)</label><br>
                                            <input type="text" formControlName="time_estimate_total">
                                            <div>
                                                <small *ngIf="!projectForm.controls.time_estimate_total.valid">Requerido.</small>
                                            </div>
                                        </div>
                                        <br>

                                        <div>
                                            <label>Estado</label><br>
                                            <select formControlName="status">
                                                    <option *ngFor="let st of status" [value]="st.id_status">{{st.status}}</option>
                                                </select>
                                            <div>
                                                <small *ngIf="!projectForm.controls.status.valid">Requerido.</small>
                                            </div>
                                        </div>
                                        <br>
                                        <button type="submit" [disabled]="!projectForm.valid">Guardar Proyecto</button>
                                    </form>
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Story Mapping
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped table-bordered table-hover dataTables-example dataTable">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" class="bg-success p-xs b-r-xs">
                                                    <div class="col-md-6 text-left">Epica</div>
                                                    <div class="col-md-6 text-right">
                                                        <a class="btn btn-primary btn-xs" (click)="showModal('epic')">
                                                            <i style="margin:5px 3px 0px 3px;" class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </th>
                                                <th rowspan="2" class="bg-info p-xs b-r-xs">
                                                    Característica
                                                </th>
                                                <th rowspan="2" class="bg-warning p-xs b-r-xs">
                                                    Historias
                                                </th>
                                                <th *ngFor="let r of release | filterRelease" [attr.colspan]="r.value">
                                                    {{r.key}}
                                                </th>
                                            </tr>
                                            <tr>
                                                <th *ngFor="let r of release | filterSprint">
                                                    {{r.value.sprint}}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let e of epics | filterEpic">
                                                <td>
                                                    <div class="col-md-6 text-left">{{e.key}}</div>
                                                    <div class="col-md-6 text-right">
                                                        <a class="btn btn-info btn-xs" (click)="showModal('feature', e.value.id_epic)">
                                                            <i style="margin:5px 3px 0px 3px;" class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-md-6 text-left">{{e.value.feature}}</div>
                                                    <div class="col-md-6 text-right">
                                                        <a class="btn btn-warning btn-xs">
                                                            <i style="margin:5px 3px 0px 3px;" class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div *ngFor="let s of epics | filterStory:e.value.id_feature:0" class="col-xs-3 story-mini-card bg-warning text-center">
                                                        <div class="">
                                                            <h3 class="font-bold no-margins">
                                                                {{s.key}}
                                                            </h3>
                                                            <small>power</small>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td *ngFor="let r of release | filterSprint">
                                                    <div *ngFor="let s of epics | filterStory:e.value.id_feature:r.value.id_sprint" class="col-xs-3 story-mini-card bg-warning text-center">
                                                        <div class="">
                                                            <h3 class="font-bold no-margins">
                                                                {{s.key}}
                                                            </h3>
                                                            <small>power</small>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- The Modal Epic-->
        <div #epicmodal id="epicmodal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close" (click)="hideModal('epic');">&times;</span>
                <h5>Crear Épica</h5>

                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="epicName">
                            </div>
                        </div>
                    </div>
                    <div class="ibox-footer">
                        <span class="pull-right">
                            <button type="button" (click)="hideModal('epic')" class="btn btn-w-m btn-danger">Cancelar</button>
                            <button type="button" (click)="saveEpic()" class="btn btn-w-m btn-info">Guardar</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>



        <!-- The Modal Featue-->
        <div #featuremodal id="featuremodal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close" (click)="hideModal('feature')">&times;</span>
                <h3>Crear Característica</h3>
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <div class="">
                                <input type="text" class="form-control" [(ngModel)]="featureName">
                            </div>
                        </div>
                    </div>
                    <div class="ibox-footer">
                        <span class="pull-right">
                            <button type="button" (click)="hideModal('feature')" class="btn btn-w-m btn-danger">Cancelar</button>
                            <button type="button" (click)="saveFeature()" class="btn btn-w-m btn-info">Guardar</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>