<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a *ngIf="loggedIn" data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs"> <strong class="font-bold">Example user</strong> </span>
                        <span class="text-muted text-xs block">Example <b class="caret"></b> </span>
                    </a>
                    <ul *ngIf="!loggedIn" class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <img style="max-width: 30px" src="assets/img/logo.svg" />
                </div>
            </li>
            <li *ngIf="_loggedIn" [ngClass]="{active: activeRoute('mainView')}">
                <a [routerLink]="['/mainView']"><i class="fa fa-id-card-o"></i> <span class="nav-label">Usuarios</span></a>
            </li>
            <li  *ngIf="_loggedIn" [ngClass]="{active: activeRoute('projects')}">
                <a [routerLink]="['/projects']"><i class="fa fa-sitemap"></i> <span class="nav-label">Proyectos</span></a>
            </li>
            <li *ngIf="!_loggedIn">
                <a [routerLink]="['/login']"><i class="fa fa-sign-in"></i> <span class="nav-label">Iniciar sesión</span> </a>
            </li>
            <li *ngIf="!_loggedIn">
                <a [routerLink]="['/register']"><i class="fa fa-pencil"></i> <span class="nav-label">Registrarse</span> </a>
            </li>
        </ul>
    </div>
</nav>