<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Administración de Usuarios
                </h1>
                <crud [key]="key" [data]="users" [schema]="schema" title="Usuarios" [model]="user" (save)="save($event)"
                    (remove)="remove($event)" (find)="find($event)" (reload)="reload()"></crud>
            </div>
        </div>
    </div>
</div>