<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Order List</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li class="active">
                <strong>Order List</strong> <span *ngIf="_orderListCount" > : {{_orderListCount}} total </span>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" *ngIf="_orderList">
        <!-- BP Filter / Date Filter -->
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Business Partner Filter</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link" (click)="isCollapsedContent = !isCollapsedContent">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle">
                                <i class="fa fa-sort-amount-asc"></i>{{BPFilterListCount}} - {{_BPListCount}}
                            </a>
                        </div>
                    </div>

                    <div [collapse]="isCollapsedContent" id="bpFilters" class="ibox-content" *ngIf="_BPList">
                        <ng-select [multiple]="false" [options]="BPFilterList" [placeholder]="BPFilterText" [allowClear]="canClearSelect" (selected)="onSelected($event)"
                            (deselected)="onDeselected($event)" [(ngModel)]="BPFilter">
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Date Range Filter  <small>  Select From and To date</small></h5> 
                        <div class="ibox-tools">
                            <a class="collapse-link" (click)="isCollapsedContent = !isCollapsedContent">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle">
                                <i class="fa fa-sort-amount-asc"></i> 
                            </a>
                        </div>
                    </div>

                    <div [collapse]="isCollapsedContent" id="DateFrom" class="ibox-content">
                        <!--
                        <input id="from-date" type="date" [(ngModel)]="_dateFromFilter" value="{{_dateFromFilter}}">
                        <input id="to-date" type="date" [(ngModel)]="_dateToFilter" value="{{_dateToFilter}}">
                        -->
                        <input type="text" daterangepicker [options]="dateOptions" value = "Choose range" (selected)="onDateSelected($event)"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- Repeats a container for each order found from the B1SL getOrders call -->
        <div class="row" appMatchHeight="contact-box">
            <div class="col-lg-3" *ngFor="let order of _orderList" >
                <div class="contact-box center-version">
                    <a [routerLink]="['/SalesOrders', order.DocEntry]" style=" padding-bottom: 5px;">
                        <h3 class="m-b-xs"><strong>{{ order.CardCode }} - {{ order.CardName }}</strong></h3>
                        Order #: {{ order.DocNum }} <br/> Ref #: {{ order.NumAtCard }} <br/> Date: {{ order.DocDate }} <br/> Total: {{ order.DocTotal | currency}}
                        <address class="m-t-md">
                            {{order.Address2 | json | addressFormat}}
                            <br>
                            <abbr title="Phone" *ngIf="order.BusinessPartner.Phone1">P:</abbr> {{ order.BusinessPartner.Phone1
                            }}
                        </address> 
                    </a>
                    <div class="contact-box-footer">
                        <div class="m-t-xs btn-group">
                            <a href="tel:{{ order.BusinessPartner.Phone1 }}" class="btn btn-xs btn-white" ><i class="fa fa-phone"></i> {{ order.BusinessPartner.Phone1 }} </a>
                            <a class="btn btn-xs btn-white" ><i class="fa fa-envelope"></i> {{ order.BusinessPartner.EmailAddress }}</a>
                            <a class="btn btn-xs btn-white" ><i class="fa fa-user-plus"></i> Follow</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Repeats a container for each order found from the B1SL getOrders call -->
    </div>

    <!-- Displays pagination next and previous links at the bottom of the page to enable navigation between orders. -->
    <div class="row" style=" padding-bottom: 20px;">
        <div class="text-center m-t-lg" *ngIf="_orderList">
            <button type="button" *ngIf="_orderListPrev && !_firstResultFlag" (click)="getPrevOrders()" class="fa fa-arrow-circle-left"> Prev 20 </button>
            <button type="button" *ngIf="_orderListNext" (click)="getNextOrders()" class="fa fa-arrow-circle-right"> Next 20</button>
        </div>
    </div>
    <!-- Displays pagination next and previous links at the bottom of the page to enable navigation between orders. -->
</div>